
<header>
<div class="container"></div>
<a href="#" class="logo">Cool App</a>
<nav>
  <ul>
    <li><a href="#" routerLink="/">Home</a></li>
    <li><a href="#" routerLink="list">Breweries</a></li>
  </ul>
</nav>


</header>
<div class="container">
<router-outlet></router-outlet>
</div>
